$peach: #e8ab9d;
$purple: #5A6CB0;
$gradient: linear-gradient(90deg, rgba(232,171,157,1) 0%, rgba(90,108,176,1) 100%);
$dark-gradient: linear-gradient(322deg, rgba(90,108,176,0.9) 0%, rgba(232,171,157,0.6) 43%, rgba(33,38,42,0) 100%);
$low-white: rgba(#ffffff, 0.08);
$placeholder: rgba(#c4c4c4, 0.72);

$dark: #21262A; //background
$blue: #5667A9; //circle gradients and home buttons
$white: #FFFFFF; //outer glow
$bglight: rgba( 255, 255, 255, 0.20 );
$shadow: rgba( 230, 235, 252, 0.57 );
$border: rgba( 255, 255, 255, 0.11 );
$opacity-front: 1;
$opacity-back: .2;
$blur-front: 0;
$blur-back: .8px;
$drop-front: 4px 10px 10px rgba(0,0,0, .6);
$drop-back: 4px 4px 4px rgba(0,0,0, .2);
