// ===== Importing colour scheme variables =====
@import 'vars';
// ========== Importing google fonts ===========
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&family=KoHo:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap');

// ============= Universal elements ============

body {
  width: 100vw;
  overflow-x: hidden;
}

// Font extends begins
// For titles
%koho-font-default {
  font-weight: 300;
  color: white;
  font-family: 'KoHo', sans-serif;
}

// For body text
%inter-font-default {
  font-weight: 300;
  color: white;
  font-family: 'Inter', sans-serif;
}
// Font extends ENDS

// Header set
h1 {
  text-transform: uppercase;
  @extend %koho-font-default;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 1.8rem;
}

h2,
h3,
h4,
h5,
h6 {
  @extend %koho-font-default;
}

h3,
p,
a {
  @extend %inter-font-default;
}

a:hover,
a:active,
a[tabindex]:focus {
  color: $peach;
}

a {
  text-decoration: none;
}

input {
  color: $white;
}

ul,
li {
  list-style: none;
  text-decoration: none;
}
// Header set ENDS

// Setting universal icon properties
.md-icon {
  font-size: 30px;
  cursor: pointer;
}

.material-icons-outlined {
  cursor: pointer;
}

.a__icon--adjust-top {
  font-size: 30px;
  position: relative;
  top: 8px;
}

.icon__nav-icon {
  background: $gradient;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.loading__icon {
  display: none;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: fixed;
  z-index: 99;
  width: 100%;
  height: 75%;
}
// icons end

.fa-times {
  position: fixed;
  float: right;
  margin-left: 110px;
  font-size: 30px;
}

.fa-times:hover {
  color: $peach;
  font-size: 30px;
}
// Icons ENDS

// Mixins
@mixin card-style($color: $purple) {
  border: 2px solid $color;
  border-radius: 52px;
  -webkit-box-shadow: 0px 0px 14px $color;
   -moz-box-shadow: 0px 0px 14px $color;
        box-shadow: 0px 0px 14px $color;
}
// Mixins END

// Universal nav
nav {
  width: 70%;
  margin-left: 150px;
}

.nav {
  border: none;
  width: 100vw;
  margin-left: 0;
}

// Displays on index, login, Employer & Student register page
#homeLogo {
  margin-left: 40px;
  width: 150px;
}

// Displays on Employer & Student dash
#logo {
  width: 150px;
  margin-left: 20px;
}

.nav__links {
  margin-left: 10%;

  a {
    position: relative;
    top: 30px;
    font-weight: 400;
    margin-left: 50px;
    @extend %koho-font-default;
  }
}

.nav__link,
#icon {
  margin-left: 50px;
  cursor: pointer;
}

#icon {
  position: absolute;
  top: 30px;
}

.nav__links--right {
  @extend .nav__links;

  a {
    margin-left: 40vw;
  }
}

.nav__popover {
  position: absolute;
  display: none;
  top: 115px;
  left: 83%;
  height: 100px;
  width: 130px;
  background-color: $dark;
  border: 1px solid $placeholder;
  border-radius: 23px;

  .a__popover-links {
    padding-top: 5px;
  }

  a {
    margin: 15px 0 0 20px;
    display: block;
    text-decoration: underline;
  }
}

.nav__popover--dash {
  margin-top: 20px;
}
// Universal nav ENDS

// ============= Universal elements ENDS ============

// =============== index.html starts ================

#homeBG {
  background-image: url("../image/homeBG.png");
  justify-content: center;
  align-items: center;
  margin: auto;
}

// Nav section starts
#homeNav {
  display: flex;
  justify-content: flex-end;
  margin-right: 200px;
}

#login {
  border: 1px solid $peach;
  background-color: $dark;
  width: 120px;
}

#login:hover {
  background-color: $peach;
  width: 120px;
}

// Displays when user is logged in
#loggedInNav {
  display: none;
  padding-bottom: 50px;

  a {
    margin-left: 60vw;
  }
}
// Nav section ENDS

// Home page section starts
#homePage {
  max-width: 800px;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 80px;
  margin-bottom: 100px;
  height: 100%;
  text-align: center;
  background: $bglight;
  box-shadow: 0 8px 32px 0 $shadow;
  backdrop-filter: blur( 2px );
  -webkit-backdrop-filter: blur( 1px );
  border-radius: 10px;
  border: 1px solid $border;
  box-sizing: border-box;
}

// Login & register forms
#loginSection,
#registerSection {
  border: 2px solid $white;
  width: 50%;
  margin-left: 250px;
}

// Home page buttons
#studentReg,
#employerReg {
  background-color: $blue;
  font-size: 20px;
}

#studentReg:hover,
#employerReg:hover {
  background-color: $dark;
  border: 1px solid $peach;
  font-size: 20px;
}
// Home page buttons ends

#tagline {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 140px;
}

// Testimonial cards starts
.container {
   max-width: 980px;
   box-sizing: border-box;
   display: flex;
   justify-content: center;
   align-items: center;
   margin: auto;
   margin-top: 150px;
   margin-bottom: 100px;
   height: 100%;
   transform: perspective(60px);
	 transform-style: preserve-3d;

   h3 {
     font-size: 20px;
     width: 80%;
     display: flex;
     justify-content: center;
     align-items: center;
   }
}

.product-card {
   max-width: 300px;
   height: 400px;
   background: $bglight;
   box-shadow: 0 8px 32px 0 $shadow;
   backdrop-filter: blur( 2px );
   -webkit-backdrop-filter: blur( 1px );
   border-radius: 10px;
   border: 1px solid $border;
   height: 400px;


   &:nth-child(1) {
      transform: translate3d(0,0,-15px);
      animation-name: rotate-left;
      animation-duration: 14s;
      animation-iteration-count: infinite;
      animation-delay: .5s;
      animation-timing-function: ease-in-out;
   }

   &:nth-child(2) {
      transform: translate3d(0,0,5px);
      animation-name: rotate-center;
      animation-duration: 14s;
      animation-iteration-count: infinite;
      animation-delay: .5s;
      animation-timing-function: ease-in-out;
   }

   &:nth-child(3) {
      transform: translate3d(0,0,-15px);
      animation-name: rotate-right;
      animation-duration: 14s;
      animation-iteration-count: infinite;
      animation-delay: .5s;
      animation-timing-function: ease-in-out;
   }
}

@keyframes rotate-left {
  0%, 100% {
    transform: translate3d(0,0,-15px);
    filter: blur($blur-back) drop-shadow($drop-back);
  }

  33.33% {
    transform: translate3d(100%,0,5px);
     filter: blur($blur-front) drop-shadow($drop-front);
  }

   66.66% {
    transform: translate3d(200%,0,-15px);
      filter: blur($blur-back) drop-shadow($drop-back);
  }
}

@keyframes rotate-center {
  0%, 100% {
    transform: translate3d(0,0,5px);
     filter: blur($blur-front) drop-shadow($drop-front);
  }

  33.33% {
    transform: translate3d(100%,0,-15px);
     filter: blur($blur-back) drop-shadow($drop-back);
  }

   66.66% {
    transform: translate3d(-100%,0,-15px);
      filter: blur($blur-back) drop-shadow($drop-back);
  }
}

@keyframes rotate-right {
  0%, 100% {
    transform: translate3d(0,0,-15px);
    filter: blur($blur-back) drop-shadow($drop-back);
  }

  33.33% {
    transform: translate3d(-200%,0,-15px);
    filter: blur($blur-back) drop-shadow($drop-back);
  }

   66.66% {
    transform: translate3d(-100%,0,5px);
    filter: blur($blur-front) drop-shadow($drop-front);
  }
}
// Testimonial cards ENDS

// Footer begins
footer {
  height: 100px;
  width: 100%;
  background-color: black;
}
// Footer ends

//=============== index.html ENDS ================

// ============= login.html starts ===============

// Login form begins
#loginSection {
  position: relative;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 30%;
  background: $bglight;
  border: 1px solid $border;
  text-align: center;
  box-shadow: 0 8px 32px 0 $shadow;
  backdrop-filter: blur( 2px );
  -webkit-backdrop-filter: blur( 1px );
  border-radius: 10px;
}

#loginHeading {
  display: flex;
  margin: auto;
  height:60px;
}

#WelcomeTitle {
  display: inline-block;
  margin-left: 40px;
}

#loginExit {
  position: fixed;
  margin-left: 20px;
  font-size: 30px;
}

#loginExit:hover {
  color: $peach;
  font-size: 30px;
}

// Login buttons
#loginSubmit {
  border-radius: 10px;
  border: 1px solid $peach;
  background: $bglight;
  box-shadow: 0 5px 15px 5px $shadow;
  width: 30%;
}

#loginSubmit:hover {
  background-color: $dark;
  border: 1px solid $dark;
}

#reg {
  justify-content: center;
  align-items: center;
  margin: auto;

  a {
    color: $peach;
    text-decoration: underline;
  }
}
// Login buttons ENDS

// ============= login.html ENDS ===============

// == studentRegister.html & employerRegister.html starts ==

// Register form starts

#registerSection {
  width: 35%;
  background: $bglight;
  border: 1px solid $border;
  margin-left: 600px;
  text-align: center;
  box-shadow: 0 8px 32px 0 $shadow;
  backdrop-filter: blur( 2px );
  -webkit-backdrop-filter: blur( 1px );
  border-radius: 10px;
}

// Student heading
#heading {
  display: flex;
  margin: auto;
  height:60px;
  margin-left: 60px;
}

#sRegExit {
  position: fixed;
  margin-left: 20px;
  font-size: 30px;
}

#sRegExit:hover {
  color: $peach;
  font-size: 30px;
}

// Employer heading
#regHeading {
  display: flex;
  margin: auto;
  height:60px;
  margin-left: 30px;
}

#eRegExit {
  position: fixed;
  margin-left: 15px;
  font-size: 30px;
}

#eRegExit:hover {
  color: $peach;
  font-size: 30px;
}
// Student & Employer register buttons
#studentRegSubmit,
#employerRegSubmit {
  border-radius: 10px;
  border: 1px solid $peach;
  background: $bglight;
  box-shadow: 0 5px 15px 5px $shadow;
  width: 35%;
}

#studentRegSubmit:hover,
#employerRegSubmit:hover {
  background-color: $dark;
  border: 1px solid $dark;
}

#cancel1 {
  position: relative;
  display: inline-block;
  margin-left: 50px;
  border-radius: 10px;
}

#cancel1:hover {
  background-color: $peach;
  border: none;
}

.input__select-img {
  display: flex;
  color: $white;
  padding-bottom: 25px;
  margin-left: 60px;
}

#userIcon {
  display: flex;
  padding-bottom: 25px;
  width: 220px;
  margin-left: 10px;
}
// Student & Employer register buttons ENDS

// Register form ENDS

// ==== studentRegister.html & employerRegister.html ENDS ====

// ======= employerDash.html & studentDash.html starts =======

// STUDENT DASHBOARD CSS starts

// Dashboard nav
.nav__dashboards {
  #icon {
    position: absolute;
    top: 50px;
  }

  #upperTitle {
    position: absolute;
    top: 50px;
    left: 600px;
  }

  #lowerTitle {
    position: absolute;
    font-size: 5rem;
    left: 700px;
  }
}

// Employer create job post starts
#createListing {
  border: 2px solid white;
  width: 40%;
  margin-left: 300px;
}

// Job post buttons
#cancel2{
  position: relative;
  display: inline-block;
}
// Employer create job post ENDS

// Employer & Student post content starts
#posts {
  margin-left: 25%;
  margin-top: 200px;
  padding: 10px;
  width: 70%;
}

#sdjobPost,
#emjobPost {
  width: 70%;
  margin-left: 180px;
  margin-bottom: 90px;
  border: 1px solid $placeholder;
  border-radius: 20px;
  box-shadow: 8px 12px 56px -4px rgba(123,130,222,0.76);
  -webkit-box-shadow: 8px 12px 56px -4px rgba(123,130,222,0.76);
  -moz-box-shadow: 8px 12px 56px -4px rgba(123,130,222,0.76);
  background-color: #383838;
  padding: 40px;

  .post__content {
    padding: 20px;
  }

  #titleUpdate,
  #detailsUpdate {
    display: none;
  }

  img {
    width: 200px;
    padding: 20px 0 40px 0;
  }

  h2,
  h4 {
    display: inline;
  }

  h4 {
    margin-left: 20px;
  }

  .icon__bookmark--blank,
  .icon__comment,
  #editPostBtn,
  #deletePostBtn {
    color: $peach;
    float: right;
    font-size: 30px;
  }
}

.update-modal__update-btn--create {
  @extend #studentRegSubmit
}

#commentSection {
  display: none;
}

#emjobPostSec {
  margin-top: 11%;

  .material-icons-outlined {
    margin-left: 20px;
  }
}

#studentJobPosts {
  margin-left: 25%;
  margin-top: 11%;
}

.commented {
  display: inline;
  width: auto;
  padding: 10px;
  @extend #loginSubmit;
}

.input__comment {
  display: inline;
  margin: 0;
  color: white;
  height: 50px;
  width: 60%;
  padding: 10px;
  background-color: $low-white;
  border: 1px solid $placeholder;
}
// Employer & Student post content ENDS

// Student side bar starts
.sidebar__fix {
  position: fixed;
  float: left;
  padding: 20px;
  width: 25%;
  height: 100vh;
  background: $dark-gradient;
  border-right: 1px solid $placeholder;

  #logo {
    position: absolute;
    top: 60px;
    left: 25%;
  }
}

#sidebarContent {
  margin-top: 120px;
  color: $white;
}

#searchForm {
  a {
    font-size: 1.4rem;
  }
}

.sidebar__txt,
.sidebar__filter {
  display: block;
  margin-left: 10%;
}

.sidebar__txt {
  margin-bottom: 30px;
}

.sidebar__filter {
  height: 50px;
  width: 80%;
  padding: 10px;
  background-color: $low-white;
  border: 1px solid $placeholder;
}

::placeholder {
  padding-left: 10px;
  color: $placeholder;
}

// Student sidebar ENDS

// ======= employerDash.html & studentDash.html ENDS =======

// =========== userProfile.html starts ===========

// Profile details starts
#userProfile {
  display: none;
  position: relative;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 40px;
  width: 55rem;
  height: 23rem;
  border-radius: 70px;
  box-shadow: 8px 12px 56px -4px rgba(123,130,222,0.76);
    -webkit-box-shadow: 8px 12px 56px -4px rgba(123,130,222,0.76);
    -moz-box-shadow: 8px 12px 56px -4px rgba(123,130,222,0.76);
  background-color: #383838;
  // padding: 40px;
}

#userImage {
  width: 300px;
  height: 300px;
  position: absolute;
  right: 30px;
  top: -50px;
  overflow: hidden;
  border: solid 3px $peach;
  border-radius: 50%;

  img {
    display: inline;
    margin: 0 auto;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

#fullName,
#userName,
p {
  color: white;
  width: 50%;
}

#logOut {
  width: auto;
  margin-top: 50px;
  margin-left: 40px;
  @extend #studentRegSubmit;
}

.img__divider--profile {
  width: 25%;
  margin-left: 40px;
}

#myName {
  padding: 25px 0 15px 0;
  margin-left: 40px;
}

#myTitle {
  padding: 25px 0 15px 0;
  margin-left: 40px;
  display: inline;
}

#myDesc {
  padding: 25px 0 0 0;
  margin-left: 40px;
}

.icon__edit {
  position: relative;
  font-size: 40px;
  top: 45px;
  left: 650px;
  color: $peach;
}

.modal__update-field {
  @extend .sidebar__filter;
}

.update-modal__update-btn--user {
  width: auto;
  padding: 10px;
  color: $white;
  @extend #studentRegSubmit;
}

.link__email {
  color: $peach;
  text-decoration: underline;
  cursor: pointer;
}
// USER PROFILE CSS ENDS

// ADD MODAL STYLES HERE

#updateUserModal,
#updatePostModal,
#createPostModal {
  @extend #registerSection;
}

#updatePostModal,
#createPostModal {
  margin-top: 10%;
  height: auto;
}

#modalLabel {
  color: $peach;
  font-size: 40px;
  margin-left: 20px;
}

.modal-header {
  border-bottom: none;
}

.modal-content {
  background-color: rgba(0,0,0,0);
  border: none;
}

.modal label {
  color: $peach;
}

.modal input {
  color: white;
}
// Profile details ENDS

//=============== userProfile.html ENDS ================


// =========== studentProfiles.html starts ===========
#active {
  color: $peach;
}

#upperTitle {
  margin-left: 30px;
}

#lowerTitle {
  position: absolute;
  top: 85px;
  left: 250px;
  font-size: 3.2rem;
}

.img-container__crop-main-icon {
  width: 80px;
  height: 80px;
  position: relative;
  top: -110px;
  left: 83%;
  overflow: hidden;
  border: 2px solid $peach;
  border-radius: 50%;

  img {
    display: inline;
    margin: 0 auto;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

#studentProfiles {
  margin-top: 30px;
}

.img__divider {
  position: absolute;
  top: 155px;
  left: 480px;
  height: 10px;
}

.student-carousel {
  width: 80%;
}

.card {
  margin: 50px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0);
  border: none;
}

.img-container__crop {
  margin: 20px 25% 15px 35%;
  width: 80px;
  height: 80px;
  position: relative;
  overflow: hidden;
  border: 2px solid $peach;
  border-radius: 50%;

  img {
    display: inline;
    margin: 0 auto;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.card-body {
  height: 500px;
  background-color: $dark;
  border: 2px solid $peach;
  border-radius: 52px;
  -webkit-box-shadow: 0px 0px 14px $peach;
   -moz-box-shadow: 0px 0px 14px $peach;
        box-shadow: 0px 0px 14px $peach;
}

.slick-active {
  .card-body {
    @include card-style;
  }
}

.slick-active + .slick-active {
  .card-body {
    @include card-style($peach);
  }
}

.slick-active + .slick-active + .slick-active {
  .card-body {
    @include card-style;
  }
}

.card-title {
  margin: 15px 0 15px 0;
}

.card-text {
  color: white;
  font-size: 0.9rem;
  margin: 15px 0 0 0;
  width: 100%;
  @extend %inter-font-default;
}

.slick-prev,
.slick-prev:before,
.slick-prev:after,
.slick-next:hover {
 background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23e8ab9d'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e")
}

.slick-next,
.slick-next:before,
.slick-next:after,
.slick-next:hover {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23e8ab9d'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.slick-prev:before,
.slick-next:before {
    font-size: 0;
}

.img-container__crop-students {
  margin: 25px 5px 20px 0;
  width: 150px;
  height: 150px;
  @extend .img-container__crop;
}

//=============== studentProfiles.html ENDS ================
